<%= form_with(model: reference, local: true) do |form| %>
  <% if reference.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reference.errors.count, "error") %> prohibited this reference from being saved:</h2>

      <ul>
      <% reference.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Title %>
    <%= form.text_field :Title, id: :reference_Title %>
  </div>

  <div class="field">
    <%= form.label :Type %>
    <%= form.collection_select(:Type, Type.all, :id, :name, {}, {:id => "reference_Type"}) %>
  </div>

    <%= form.fields_for :paper do |p| %>

      <div class="field">
        <%= p.label :released_date %>
        <%= p.text_field :released_date, id: :released_date %>
      </div>

      <div class="field">
        <%= p.label :start_page %>
        <%= p.text_field :start_page, id: :start_page %>
      </div>

      <div class="field">
        <%= p.label :end_page %>
        <%= p.text_field :end_page, id: :end_page %>
      </div>

      <div class="field">
        <%= p.label :publisher %>
        <%= p.text_field :publisher, id: :publisher %>
      </div>
    <% end %>
      
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
